U3_Nodos_Node-Red_SleepMonitor.json
[
    {
        "id": "01ea9d201d8482df",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "125849ce44c728ed",
        "type": "mqtt in",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e05f7074653c458",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "b9f3b4acde712f44",
                "e7b83b8b58a8f821",
                "a5ae249d1be4f22f"
            ]
        ]
    },
    {
        "id": "821bd10ddfd26ded",
        "type": "mqtt in",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e05f7074653c458",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 200,
        "wires": [
            [
                "299325e4f55e6fc3",
                "576f7ce5aee01f97",
                "1409be645aab3bac"
            ]
        ]
    },
    {
        "id": "64384633041016ad",
        "type": "mqtt in",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/pulse",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e05f7074653c458",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "d1f14dcdf1d946f5",
                "7a259ada9bed05cd",
                "183270e3465d21e4"
            ]
        ]
    },
    {
        "id": "b9f3b4acde712f44",
        "type": "json",
        "z": "01ea9d201d8482df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "b73e20374b9afc23"
            ]
        ]
    },
    {
        "id": "79f99a065dfb0c69",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "sensor_values_temperature",
        "operation": "insert",
        "x": 820,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b73e20374b9afc23",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function ",
        "func": "msg.payload = {\n    timestamp: new Date(),\n    value: Number(msg.payload) // Convertir el valor a número\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "79f99a065dfb0c69"
            ]
        ]
    },
    {
        "id": "299325e4f55e6fc3",
        "type": "json",
        "z": "01ea9d201d8482df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "03de68260b4c5c4e"
            ]
        ]
    },
    {
        "id": "6d5944931cb3ba2d",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "sensor_values_humidity",
        "operation": "insert",
        "x": 810,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "03de68260b4c5c4e",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 7",
        "func": "msg.payload = {\n    timestamp: new Date(),\n    value: Number(msg.payload) // Convertir el valor a número\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 200,
        "wires": [
            [
                "6d5944931cb3ba2d"
            ]
        ]
    },
    {
        "id": "d1f14dcdf1d946f5",
        "type": "json",
        "z": "01ea9d201d8482df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "b815ae81316d9552"
            ]
        ]
    },
    {
        "id": "b22b69efd215cc4d",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "sensor_values_pulse",
        "operation": "insert",
        "x": 800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b815ae81316d9552",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 8",
        "func": "msg.payload = {\n    timestamp: new Date(),\n    value: Number(msg.payload) // Convertir el valor a número\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "b22b69efd215cc4d"
            ]
        ]
    },
    {
        "id": "e7b83b8b58a8f821",
        "type": "ui_chart",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "e6a38924262d8c3c",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Datos historicos de temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "576f7ce5aee01f97",
        "type": "ui_chart",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "1e0865bf9738ac21",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Datos historicos de humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "16a6a16f1455e985",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "promedios_temperature",
        "operation": "findOne",
        "x": 380,
        "y": 860,
        "wires": [
            [
                "f2c81605649fb1aa"
            ]
        ]
    },
    {
        "id": "85e5722948e923f9",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 860,
        "wires": [
            [
                "16a6a16f1455e985"
            ]
        ]
    },
    {
        "id": "a5ae249d1be4f22f",
        "type": "ui_gauge",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "e6a38924262d8c3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "873",
        "seg2": "1500",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 420,
        "wires": []
    },
    {
        "id": "1409be645aab3bac",
        "type": "ui_gauge",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "1e0865bf9738ac21",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de humedad",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "873",
        "seg2": "1500",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 520,
        "wires": []
    },
    {
        "id": "293df54cfd3e1c20",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "e6a38924262d8c3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Promedio obtenido en la ultima hora: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 860,
        "wires": []
    },
    {
        "id": "f2c81605649fb1aa",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 13",
        "func": "// Extraer el valor del campo \"promedio\"\nlet promedio = msg.payload.promedio;\n\n// Redondear el valor a 2 decimales\npromedio = Math.round(promedio * 100) / 100;\n\n// Establecer el nuevo msg.payload solo con el valor de promedio\nmsg.payload = promedio;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 860,
        "wires": [
            [
                "293df54cfd3e1c20"
            ]
        ]
    },
    {
        "id": "1facbb0985827d4e",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "promedios_humedad",
        "operation": "findOne",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "446df5c8d2e582eb"
            ]
        ]
    },
    {
        "id": "e7877afcb9df5d30",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 920,
        "wires": [
            [
                "1facbb0985827d4e"
            ]
        ]
    },
    {
        "id": "a8e75efdd1d4143e",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "1e0865bf9738ac21",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Promedio obtenido en la ultima hora: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 920,
        "wires": []
    },
    {
        "id": "446df5c8d2e582eb",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 14",
        "func": "// Extraer el valor del campo \"promedio\"\nlet promedio = msg.payload.promedio;\n\n// Redondear el valor a 2 decimales\npromedio = Math.round(promedio * 100) / 100;\n\n// Establecer el nuevo msg.payload solo con el valor de promedio\nmsg.payload = promedio;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 920,
        "wires": [
            [
                "a8e75efdd1d4143e"
            ]
        ]
    },
    {
        "id": "d5e5cd4a05423df7",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "promedios_pulso",
        "operation": "findOne",
        "x": 360,
        "y": 980,
        "wires": [
            [
                "242094a4901e3e32"
            ]
        ]
    },
    {
        "id": "3f8f9f418e8c3bee",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "d5e5cd4a05423df7"
            ]
        ]
    },
    {
        "id": "6d9711addf15e301",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "83b97dd474839f37",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Promedio obtenido en la ultima hora: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 980,
        "wires": []
    },
    {
        "id": "242094a4901e3e32",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 15",
        "func": "// Extraer el valor del campo \"promedio\"\nlet promedio = msg.payload.promedio;\n\n// Redondear el valor a 2 decimales\npromedio = Math.round(promedio * 100) / 100;\n\n// Establecer el nuevo msg.payload solo con el valor de promedio\nmsg.payload = promedio;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 980,
        "wires": [
            [
                "6d9711addf15e301"
            ]
        ]
    },
    {
        "id": "8e22a316712f16b0",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1164,
        "wires": [
            [
                "14c3b051924d07ed"
            ]
        ]
    },
    {
        "id": "14c3b051924d07ed",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "min_max_temperature",
        "operation": "findOne",
        "x": 390,
        "y": 1160,
        "wires": [
            [
                "0b1c4c230d4741ce",
                "973b2b379956d480"
            ]
        ]
    },
    {
        "id": "0b1c4c230d4741ce",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "e6a38924262d8c3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor maximo registrado el dia de hoy:",
        "format": "{{msg.payload.maximo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1164,
        "wires": []
    },
    {
        "id": "973b2b379956d480",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "e6a38924262d8c3c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor minimo registrado el dia de hoy:",
        "format": "{{msg.payload.minimo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1224,
        "wires": []
    },
    {
        "id": "69ef76839c912f61",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1284,
        "wires": [
            [
                "08225c99cb74a612"
            ]
        ]
    },
    {
        "id": "08225c99cb74a612",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "min_max_humedad",
        "operation": "findOne",
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "d87d85a8b266d2a7",
                "5a50ae57c4b544d4"
            ]
        ]
    },
    {
        "id": "d87d85a8b266d2a7",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "1e0865bf9738ac21",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor maximo registrado el dia de hoy:",
        "format": "{{msg.payload.maximo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1284,
        "wires": []
    },
    {
        "id": "5a50ae57c4b544d4",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "1e0865bf9738ac21",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor minimo registrado el dia de hoy:",
        "format": "{{msg.payload.minimo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1344,
        "wires": []
    },
    {
        "id": "75509ed6b98988e4",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1424,
        "wires": [
            [
                "c9164aec97f20bf1"
            ]
        ]
    },
    {
        "id": "c9164aec97f20bf1",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "maximos_minimos_pulso",
        "operation": "findOne",
        "x": 420,
        "y": 1424,
        "wires": [
            [
                "53c3bb71f904acd1",
                "6873ea86a7aa2f70"
            ]
        ]
    },
    {
        "id": "53c3bb71f904acd1",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "83b97dd474839f37",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor maximo registrado el dia de hoy:",
        "format": "{{msg.payload.maximo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1424,
        "wires": []
    },
    {
        "id": "6873ea86a7aa2f70",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "83b97dd474839f37",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor minimo registrado el dia de hoy:",
        "format": "{{msg.payload.minimo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1484,
        "wires": []
    },
    {
        "id": "9cd1c5fb441abd3a",
        "type": "ui_button",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "e6a38924262d8c3c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mostrar grafica Temperatura en la oled",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "temperature",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1780,
        "wires": [
            [
                "537dd9f14d9f7c8b"
            ]
        ]
    },
    {
        "id": "537dd9f14d9f7c8b",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/graficaTemperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 520,
        "y": 1780,
        "wires": []
    },
    {
        "id": "0ea0382cbcb8bab5",
        "type": "ui_button",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "1e0865bf9738ac21",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mostrar grafica Humedad en la oled",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "humidity",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1840,
        "wires": [
            [
                "ffdf222c4c1f2948"
            ]
        ]
    },
    {
        "id": "ffdf222c4c1f2948",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/graficaHumedad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 510,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4d5bd58e292ea652",
        "type": "ui_button",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "83b97dd474839f37",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mostrar grafica Pulso en la oled",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pulse",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1900,
        "wires": [
            [
                "2df72379ee568ae5"
            ]
        ]
    },
    {
        "id": "2df72379ee568ae5",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/graficaPulso",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 500,
        "y": 1900,
        "wires": []
    },
    {
        "id": "240e26b22900353b",
        "type": "mqtt in",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/gyroscope",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e05f7074653c458",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "70ae67274e9d6329",
                "084c5a2b9bc58f24",
                "1d484865c524e5e3"
            ]
        ]
    },
    {
        "id": "70ae67274e9d6329",
        "type": "json",
        "z": "01ea9d201d8482df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "968d3369c9ccc722"
            ]
        ]
    },
    {
        "id": "cd704bd44103b3c2",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "sensor_values_gyroscope",
        "operation": "insert",
        "x": 820,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "968d3369c9ccc722",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 16",
        "func": "msg.payload = {\n    timestamp: new Date(),\n    value: Number(msg.payload) // Convertir el valor a número\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "cd704bd44103b3c2"
            ]
        ]
    },
    {
        "id": "084c5a2b9bc58f24",
        "type": "ui_chart",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "ef3c30fa2e700282",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Nivel de movimiento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "1d484865c524e5e3",
        "type": "ui_chart",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "ef3c30fa2e700282",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Datos historicos de movimiento",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1500",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1030,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "183270e3465d21e4",
        "type": "ui_chart",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "83b97dd474839f37",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Datos historicos de pulso",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "7a259ada9bed05cd",
        "type": "ui_gauge",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "83b97dd474839f37",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de pulso",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "873",
        "seg2": "1500",
        "diff": false,
        "className": "",
        "x": 1000,
        "y": 620,
        "wires": []
    },
    {
        "id": "b8cd38a39e991341",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "promedios_giroscopio",
        "operation": "findOne",
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "6b0d9931c1a9909f"
            ]
        ]
    },
    {
        "id": "3831479cbaddd8e6",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "b8cd38a39e991341"
            ]
        ]
    },
    {
        "id": "d9412d9b29ef52a8",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "ef3c30fa2e700282",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Promedio obtenido en la ultima hora: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6b0d9931c1a9909f",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 17",
        "func": "// Extraer el valor del campo \"promedio\"\nlet promedio = msg.payload.promedio;\n\n// Redondear el valor a 2 decimales\npromedio = Math.round(promedio * 100) / 100;\n\n// Establecer el nuevo msg.payload solo con el valor de promedio\nmsg.payload = promedio;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1040,
        "wires": [
            [
                "d9412d9b29ef52a8"
            ]
        ]
    },
    {
        "id": "0de81e540031da98",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1540,
        "wires": [
            [
                "fb423e8512196aea"
            ]
        ]
    },
    {
        "id": "fb423e8512196aea",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "min_max_giroscopio",
        "operation": "findOne",
        "x": 390,
        "y": 1540,
        "wires": [
            [
                "8e50430672f0f11c",
                "46b27e8b2d516923"
            ]
        ]
    },
    {
        "id": "8e50430672f0f11c",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "ef3c30fa2e700282",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor maximo registrado el dia de hoy:",
        "format": "{{msg.payload.maximo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1540,
        "wires": []
    },
    {
        "id": "46b27e8b2d516923",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "ef3c30fa2e700282",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor minimo registrado el dia de hoy:",
        "format": "{{msg.payload.minimo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9c791c104e15ad3c",
        "type": "ui_button",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "ef3c30fa2e700282",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mostrar grafica Movimiento en la oled",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "gyroscope",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 1960,
        "wires": [
            [
                "e033a3d06f7abc08"
            ]
        ]
    },
    {
        "id": "e033a3d06f7abc08",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/graficaMovimiento",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 510,
        "y": 1960,
        "wires": []
    },
    {
        "id": "a9dc65f91f7591e7",
        "type": "ui_button",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "b5822c1675f1a7df",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Mostrar grafica de gas en la OLED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "gas",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 2020,
        "wires": [
            [
                "0fc435cb40b2fb12"
            ]
        ]
    },
    {
        "id": "0fc435cb40b2fb12",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/graficaGas",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 490,
        "y": 2020,
        "wires": []
    },
    {
        "id": "28cdb0e2a307b98c",
        "type": "mqtt in",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/gas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4e05f7074653c458",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "dd414c8ffdf50cc9",
                "b4fa6d62772a1fea",
                "886bbf5c4516ea87"
            ]
        ]
    },
    {
        "id": "dd414c8ffdf50cc9",
        "type": "json",
        "z": "01ea9d201d8482df",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "a3eedcc3ab1fef75"
            ]
        ]
    },
    {
        "id": "7ddfb6a6c1e46c18",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "sensor_values_gas",
        "operation": "insert",
        "x": 800,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a3eedcc3ab1fef75",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 18",
        "func": "msg.payload = {\n    timestamp: new Date(),\n    value: Number(msg.payload) // Convertir el valor a número\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "7ddfb6a6c1e46c18"
            ]
        ]
    },
    {
        "id": "886bbf5c4516ea87",
        "type": "ui_chart",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "b5822c1675f1a7df",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Datos historicos de nivel de gas",
        "chartType": "line",
        "legend": "false",
        "xformat": "Y-M-D",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "500",
        "ymax": "2500",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b4fa6d62772a1fea",
        "type": "ui_gauge",
        "z": "01ea9d201d8482df",
        "name": "",
        "group": "b5822c1675f1a7df",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Nivel de gas",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "873",
        "seg2": "1500",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "82f18057078f7f2b",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "promedios_gas",
        "operation": "findOne",
        "x": 350,
        "y": 1100,
        "wires": [
            [
                "5f6d4dbc701f322a"
            ]
        ]
    },
    {
        "id": "33246af0ce78d40e",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "82f18057078f7f2b"
            ]
        ]
    },
    {
        "id": "c72393caa81d4e06",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "b5822c1675f1a7df",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Promedio obtenido en la ultima hora: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5f6d4dbc701f322a",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "function 19",
        "func": "// Extraer el valor del campo \"promedio\"\nlet promedio = msg.payload.promedio;\n\n// Redondear el valor a 2 decimales\npromedio = Math.round(promedio * 100) / 100;\n\n// Establecer el nuevo msg.payload solo con el valor de promedio\nmsg.payload = promedio;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "c72393caa81d4e06"
            ]
        ]
    },
    {
        "id": "0150279d5f02df49",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "591dba87e92b96dd"
            ]
        ]
    },
    {
        "id": "591dba87e92b96dd",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "min_max_gas",
        "operation": "findOne",
        "x": 370,
        "y": 1660,
        "wires": [
            [
                "c746a88fb3ea5f24",
                "e1b92fe738346ce5"
            ]
        ]
    },
    {
        "id": "c746a88fb3ea5f24",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "b5822c1675f1a7df",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor maximo registrado el dia de hoy:",
        "format": "{{msg.payload.maximo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1660,
        "wires": []
    },
    {
        "id": "e1b92fe738346ce5",
        "type": "ui_text",
        "z": "01ea9d201d8482df",
        "group": "b5822c1675f1a7df",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor minimo registrado el dia de hoy:",
        "format": "{{msg.payload.minimo}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 1720,
        "wires": []
    },
    {
        "id": "47471dbc04f028f3",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "promedios_temperature",
        "operation": "findOne",
        "x": 320,
        "y": 2260,
        "wires": [
            [
                "797d613bdc88890f",
                "8023a3ee90dd7d81"
            ]
        ]
    },
    {
        "id": "797d613bdc88890f",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "Activar Buzzer",
        "func": "const umbral = 28; // Umbral para activar el buzzer\n\n// Extrae el promedio del mensaje\nconst promedio = msg.payload.promedio;\n\n// Compara el promedio con el umbral\nif (promedio > umbral) {\n    msg.payload = \"activar buzzer\"; // Enviar comando para activar el buzzer\n} else {\n    msg.payload = \"desactivar buzzer\"; // Enviar comando para desactivar el buzzer\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2160,
        "wires": [
            [
                "b399d22f404857ad",
                "8023a3ee90dd7d81"
            ]
        ]
    },
    {
        "id": "b022c4249250f46b",
        "type": "comment",
        "z": "01ea9d201d8482df",
        "name": "Funciones Agregadas",
        "info": "",
        "x": 280,
        "y": 2080,
        "wires": []
    },
    {
        "id": "b399d22f404857ad",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/controlBuzzer",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 880,
        "y": 2160,
        "wires": []
    },
    {
        "id": "8023a3ee90dd7d81",
        "type": "debug",
        "z": "01ea9d201d8482df",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 2260,
        "wires": []
    },
    {
        "id": "cb5e2dc9b473f49e",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 2160,
        "wires": [
            [
                "47471dbc04f028f3"
            ]
        ]
    },
    {
        "id": "4ce61ce3e48d77b3",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "Activar Vibrador",
        "func": "const umbral = 4000000; // Umbral para activar el vibrador\n\n// Extrae la suma del mensaje\nconst suma = msg.payload.suma;\n\n// Compara la suma con el umbral\nif (suma > umbral) {\n    msg.payload = \"activar vibrador\"; // Enviar comando para activar el vibrador\n} else {\n    msg.payload = \"desactivar vibrador\"; // Enviar comando para desactivar el vibrador\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2400,
        "wires": [
            [
                "6bd28fa2e5c57b38",
                "5d98c0667ae2e337"
            ]
        ]
    },
    {
        "id": "6bd28fa2e5c57b38",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/controlVibrador",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 880,
        "y": 2400,
        "wires": []
    },
    {
        "id": "5d98c0667ae2e337",
        "type": "debug",
        "z": "01ea9d201d8482df",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 2500,
        "wires": []
    },
    {
        "id": "c7ad5907a3420430",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 150,
        "y": 2400,
        "wires": [
            [
                "e0983a1780a6e369"
            ]
        ]
    },
    {
        "id": "e0983a1780a6e369",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "suma_gas",
        "operation": "findOne",
        "x": 320,
        "y": 2480,
        "wires": [
            [
                "4ce61ce3e48d77b3"
            ]
        ]
    },
    {
        "id": "5645e9e86f0db3fa",
        "type": "comment",
        "z": "01ea9d201d8482df",
        "name": "Promedio Temperatura",
        "info": "",
        "x": 360,
        "y": 2140,
        "wires": []
    },
    {
        "id": "262972a14ef644fe",
        "type": "comment",
        "z": "01ea9d201d8482df",
        "name": "Suma gas",
        "info": "",
        "x": 340,
        "y": 2360,
        "wires": []
    },
    {
        "id": "56e4b0f46391cc75",
        "type": "function",
        "z": "01ea9d201d8482df",
        "name": "Activar Pulso",
        "func": "const umbral = 1500; // Umbral para activar el buzzer\n\n// Extrae el conteo de documentos del mensaje\nconst conteoDocumentos = msg.payload.conteo; // Cambié \"conteoDocumentos\" a \"conteo\"\n\n// Compara el conteo de documentos con el umbral\nif (conteoDocumentos > umbral) {\n    msg.payload = \"activar pulso\"; // Enviar comando para activar el buzzer\n} else {\n    msg.payload = \"desactivar pulso\"; // Enviar comando para desactivar el buzzer\n}\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 2600,
        "wires": [
            [
                "9a094179f961563b",
                "be00c5f3076329d5"
            ]
        ]
    },
    {
        "id": "9a094179f961563b",
        "type": "mqtt out",
        "z": "01ea9d201d8482df",
        "name": "",
        "topic": "utng/proyecto/controlPulso",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e05f7074653c458",
        "x": 840,
        "y": 2600,
        "wires": []
    },
    {
        "id": "be00c5f3076329d5",
        "type": "debug",
        "z": "01ea9d201d8482df",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2700,
        "wires": []
    },
    {
        "id": "e85b38e9ef204703",
        "type": "inject",
        "z": "01ea9d201d8482df",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 110,
        "y": 2600,
        "wires": [
            [
                "6fe98bc613dcc4e6"
            ]
        ]
    },
    {
        "id": "2ffe04521138bcbe",
        "type": "comment",
        "z": "01ea9d201d8482df",
        "name": "Count pulso",
        "info": "",
        "x": 310,
        "y": 2560,
        "wires": []
    },
    {
        "id": "6fe98bc613dcc4e6",
        "type": "mongodb3 in",
        "z": "01ea9d201d8482df",
        "service": "_ext_",
        "configNode": "595b34992142dac2",
        "name": "",
        "collection": "conteos_pulso",
        "operation": "findOne",
        "x": 310,
        "y": 2680,
        "wires": [
            [
                "56e4b0f46391cc75"
            ]
        ]
    },
    {
        "id": "4e05f7074653c458",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "595b34992142dac2",
        "type": "mongodb3",
        "uri": "mongodb+srv://diegocar1975:wZwYrOyugMHkLtyM@proyectorelojtacho.kf0ji.mongodb.net/?retryWrites=true&w=majority&appName=ProyectoRelojTacho",
        "name": "ProyectoRelojTacho",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "e6a38924262d8c3c",
        "type": "ui_group",
        "name": "Datos sensor de temperatura",
        "tab": "08f505416d2a0a70",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e0865bf9738ac21",
        "type": "ui_group",
        "name": "Datos sensor de humedad",
        "tab": "08f505416d2a0a70",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "83b97dd474839f37",
        "type": "ui_group",
        "name": "Datos sensor de pulso",
        "tab": "08f505416d2a0a70",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef3c30fa2e700282",
        "type": "ui_group",
        "name": "Datos sensor de movimiento",
        "tab": "08f505416d2a0a70",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5822c1675f1a7df",
        "type": "ui_group",
        "name": "Datos sensor gas",
        "tab": "08f505416d2a0a70",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08f505416d2a0a70",
        "type": "ui_tab",
        "name": "Proyecto Reloj",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]